# December 02, 2015
https://adventofcode.com/2015/day/2

In [1]:
import pandas as pd

In [22]:
specs = []
with open("data/02.txt", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        specs.append( [int(y) for y in line.strip().split("x")] )

### Part 1

In [27]:
specs = pd.DataFrame(specs, columns=["l", "w", "h"])
specs["lw"] = specs["l"]*specs["w"]
specs["lh"] = specs["l"]*specs["h"]
specs["wh"] = specs["w"]*specs["h"]
specs["min"] = specs[["lw", "lh", "wh"]].apply(min, axis=1)
specs["need"] = 2*(specs["lw"] + specs["lh"] + specs["wh"]) + specs["min"]
specs

      l   w   h   lw   lh   wh  min  need
0    20   3  11   60  220   33   33   659
1    15  27   5  405   75  135   75  1305
2     6  29   7  174   42  203   42   880
3    30  15   9  450  270  135  135  1845
4    19  29  21  551  399  609  399  3517
..   ..  ..  ..  ...  ...  ...  ...   ...
995  11  19   1  209   11   19   11   489
996  10   1  18   10  180   18   10   426
997  29   4   8  116  232   32   32   792
998  21   2  22   42  462   44   42  1138
999  14  12   8  168  112   96   96   848

[1000 rows x 8 columns]

In [28]:
sum(specs["need"])

1606483

### Part 2

In [29]:
specs["max_dim"] = specs[["l", "w", "h"]].apply(max, axis=1)
specs["min_perim"] = 2*(specs["l"] + specs["w"] + specs["h"] - specs["max_dim"])
specs["vol"] = specs["l"] * specs["w"] * specs["h"]
specs["ribbon"] = specs["min_perim"] + specs["vol"]
specs

      l   w   h   lw   lh   wh  min  need  max_dim  min_perim    vol  ribbon
0    20   3  11   60  220   33   33   659       20         28    660     688
1    15  27   5  405   75  135   75  1305       27         40   2025    2065
2     6  29   7  174   42  203   42   880       29         26   1218    1244
3    30  15   9  450  270  135  135  1845       30         48   4050    4098
4    19  29  21  551  399  609  399  3517       29         80  11571   11651
..   ..  ..  ..  ...  ...  ...  ...   ...      ...        ...    ...     ...
995  11  19   1  209   11   19   11   489       19         24    209     233
996  10   1  18   10  180   18   10   426       18         22    180     202
997  29   4   8  116  232   32   32   792       29         24    928     952
998  21   2  22   42  462   44   42  1138       22         46    924     970
999  14  12   8  168  112   96   96   848       14         40   1344    1384

[1000 rows x 12 columns]

In [30]:
sum(specs["ribbon"])

3842356